<%= form_with(model: @newsletter_preference, local: true, class: 'justify-content-center') do |f| %>
    <div class="form-group">
        <%= f.label :email, I18n.t('email') %>
        <%= f.text_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :women_fashion, I18n.t('women_fashion') %>
        <%= f.check_box :women_fashion %>
    </div>

    <div class="form-group">
        <%= f.label :men_fashion, I18n.t('men_fashion') %>
        <%= f.check_box :men_fashion %>
    </div>

    <div class="form-group">
        <%= f.label :children_fashion, I18n.t('children_fashion') %>
        <%= f.check_box :children_fashion %>
    </div>
  
    <%= f.submit 'Subscribe Me', class: 'btn btn-primary btn-lg' %>
<% end %>