<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-black">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-truncate">
                        <h2><%= I18n.t('company') %></h2>
                        <small><%= I18n.t('company_slogan') %></small>
                    </h1>
                    <div class="px-2">

                        <h3><%= I18n.t('welcome_message') %></h3><br />
                        <h4><%= I18n.t('subscribe_message') %></h4><br />

                        <%= render "form" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
